@font-face {
  font-family: 'Star Wars';
  src: url('./SfDistantGalaxyItalic-WV3Y.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Star Wars', sans-serif;
  background-image: url('../images/sw-bg.jpg');
  background-size: cover;
}

.container {
  border: 2px solid rgb(210, 210, 210);
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
  border-radius: 8px;
  margin: 16px;
  padding: 16px 8px 12px 16px;
  &:hover {
    box-shadow: 2px 3px 8px 0px rgb(128, 127, 127);
  }
}

.header {
  display: flex;
  justify-content: space-evenly;
  border-color: black;
  background-image: url('../images/star-wars-sky.jpg');
  background-position: left;
  background-attachment: fixed;
  color: black;
}

.dynamic {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.dynamic:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.dynamic:hover{
  padding-right: 25px;
}

.dynamic:hover:after {
    opacity: 1;
    right: 0;
  }

.search {
  border-color: black;
  background-image: url('../images/star-wars-sky.jpg');
  color: black;
  &:before {
    content: ' Search ';
  }
}

ul, li, p {
  list-style: none;
  font-size: 1.25em
}

.star-wars-look {
  color: black;
  text-shadow: 
    -1px -1px 0 #FFE81F,
    1px -1px 0 #FFE81F,
    -1px 1px 0 #FFE81F,
    1px 1px 0 #FFE81F,  
    -2px 0 0 #FFE81F,
    2px 0 0 #FFE81F,
    0 2px 0 #FFE81F,
    0 -2px 0 #FFE81F;
}

.pokemon-look {
  color: #ffcc03;
  text-shadow: 
    -1px -1px 0 #006fc4,
    1px -1px 0 #006fc4,
    -1px 1px 0 #006fc4,
    1px 1px 0 #006fc4,  
    -2px 0 0 #006fc4,
    2px 0 0 #006fc4,
    0 2px 0 #006fc4,
    0 -2px 0 #006fc4;
}

.rick-and-morty-look {
  color: #08BAE3;
  z-index: 50;
  -webkit-text-stroke: 1px rgba(0,0,0,0.5);
  text-shadow: 
    -1px -1px 0 #D6DC22,
    1px -1px 0 #D6DC22,
    -1px 1px 0 #D6DC22,
    1px 1px 0 #D6DC22,  
    -2px 0 0 #D6DC22,
    2px 0 0 #D6DC22,
    0 2px 0 #D6DC22,
    0 -2px 0 #D6DC22;
}